[Unit]
Description=EEG web app production instance
After=network-online.target nss-lookup.target
Wants=network-online.target nss-lookup.target

[Service]
User=sf284
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/sleep 30
ExecStart=/opt/eeg-qc-dash/start_server.sh
ExecStop=/opt/uwsgi-2.0.20/uwsgi --stop /opt/uwsgi.pid
KillMode=process
TimeoutSec=60

[Install]
WantedBy=multi-user.target
