body {
    margin: 20px;
    font-size: 12px;
    // font-weight: bold;
}

#ampscz {
    height: 120px;
    width: 120px;
    
}


input#start {
    margin-right: 10px;
}

input#end {
    margin-left: 10px;
}

input {
    width: 90px;
}

#global-filter {
    background: yellow;
}

#save {
    background: lightgreen;
}
