body {
    margin: 20px;
    font-size: 12px;
    // font-weight: bold;
}

input#start {
    margin-right: 10px;
}

input#end {
    margin-left: 10px;
}

input {
    width: 90px;
}

.ddown {
    width: 200px;
}

/*
#table .row {
    border-bottom: solid 0.5px gray;
    padding: 10px;
}
#table .col {
    border-right: solid 0.5px gray;
    padding: 10px;
}
*/

