body {
    margin: 20px;
    font-size: 12px;
    // font-weight: bold;
}

#ampscz {
    height: 120px;
    width: 120px;
    
}


input#start {
    margin-right: 10px;
}

input#end {
    margin-left: 10px;
}

input {
    width: 90px;
}

#global-filter {
    background: yellow;
}

#save {
    background: lightgreen;
    margin-right: 10px;
    margin-left: 20px;
}

img {
    max-width: 300px;
}

#avg-table {
    border: solid red;
    /*
     dcc.Navbar overrides html.Div
     the former appears to fit-content
     while the latter appears to use all available
     width: -webkit-fill-available;
     width: -moz-available
     To circumvent this issue, set width: 100%;
    */
    width: 100%;
}

summary {
    font-weight: bold;
}
